<div class="table-responsive-sm">
  <table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Total Population</th>
        <th scope="col">Man Percentage</th>
        <th scope="col">Woman Percentage</th>
        <th scope="col">Number of Children</th>
        <th scope="col">Number of Adult</th>
        <th scope="col">Happiness Percentage</th>
        <th scope="col">Born</th>
        <th scope="col">Died</th>
        <th scope="col">Killed</th>
        <th scope="col">Education Level Percentage</th>
        <th scope="col">Morality Level</th>
        <th scope="col">Total Power</th>
        <th scope="col">Education System</th>
        <th scope="col">Morality System</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row">
        <td>{{demographic.totalPopulation}}</td>
        <td>{{demographic.manPercentage}}%</td>
        <td>{{demographic.womanPercentage}}%</td>
        <td>{{demographic.numberOfChildren}}</td>
        <td>{{demographic.numberOfAdult}}</td>
        <td>{{demographic.happinessPercentage}}</td>
        <td>+{{demographic.born}}</td>
        <td>-{{demographic.died}}</td>
        <td><span *ngIf="demographic.killed != 0">-</span>{{demographic.killed}}</td>
        <td>{{demographic.educationLevelPercentage}}%</td>
        <td>{{demographic.moralityPercentage}}%</td>
        <td>{{demographic.totalPower}}</td>
        <td>{{demographic.educationSystem}}</td>
        <td>{{demographic.moralitySystem}}</td>
      </tr>
    </tbody>
  </table>
</div>
